html,body,.container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
   font-family: "Microsoft YaHei" ! important; 
}
h1,h2,h3,h4,h5{padding:0px;margin:0px;}
h6{color: rgba(90, 87, 87, 0.62);}
.container {
    min-width: 1200px;
    overflow: auto;
}
/*flex 盒子模型*/
.flex {
    /* 设置弹性布局 */
    display: box;              /* OLD - Android 4.4- */
    display:-webkit-box;/* android 2.1-3.0, ios 3.2-4.3 */
    display:-webkit-flex;/* Chrome 21+ */
    display:-ms-flexbox;/* WP IE 10 */
    display:flex;/* android 4.4 */
    /* 设置弹性布局的方向，子元素按照在源文档中声明的顺序从上到下显示 */
    /* 09版 */
    -webkit-box-orient: horizontal;/* android 2.1-3.0, ios 3.2-4.3 */
    /* 12版 */
    -webkit-flex-direction: row;/* Chrome 21+ */
    -moz-flex-direction: row;/* WP IE 10 */
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    /* 水平布局下的子元素 水平居中 */
    -webkit-box-pack: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: center;/* Chrome 21+ */
    -ms-flex-pack: center;/* WP IE 10 */
    -moz-flex-pack: center;/* WP IE 10 */
    -o-flex-pack: center;/* WP Opera 10 */
    justify-content: center;/* android 4.4 */
    /* 水平布局下的子元素 垂直居中 */
    -webkit-box-align: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-align-items: center;/* Chrome 21+ */
    -ms-flex-align: center;/* WP IE 10 */
    -moz-flex-align: center;/* WP IE 10 */
    -o-flex-align: center;/* WP Opera 10 */
    align-items: center;/* android 4.4 */
    /* 对齐弹性盒的 <div> 元素的各项：   */
    -webkit-justify-content: center; /* Safari 6.1+ */
    -ms-justify-content: center;/* WP IE 10 */
    -moz-justify-content: center;/* WP IE 10 */
    -o-justify-content: center;/* WP Opera 10 */
    justify-content: center;/* android 4.4 */
    /* 居中对齐弹性对象元素内的某个项   */
    -webkit-align-self: center; /* Safari 7.0+ */
    -ms-align-self: center;/* WP IE 10 */
    -moz-align-self: center;/* WP IE 10 */
    -o-align-self: center;/* WP Opera 10 */
    align-self: center;
}
.swiper-button-prev:hover, .swiper-button-next:hover, .swiper-pagination-bullet-active{background:red;}
header{
    position: fixed;
    width: 100%;
    height: 69px;
    z-index: 9999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(215, 215, 255, 0.09);
    color: #fff;
}
nav{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.nav_menu{
    max-width: 1200px;
    width: 1200px;
    margin:0 auto;
    justify-content: flex-end;
}
nav a {
    display: inline-block;
    margin: 0 0 0 45px;
    text-decoration: none;
    font-size: 14px;
    /*color: #fff;*/
}
.nav_icon {

}
.icon_font {
    font-size: 24px;
    width: 120px;
    margin-left: 12px;
}
a:-webkit-any-link {
    color: currentColor;
}
nav a:active,nav a:hover {
    color: red;
}
.swiper_slider{
    border-bottom: 1px solid #ddd;
}
.swiper-container{
    height: 100%;
    width: 100%;
}
.slide_content{
    position: absolute;
    left: 50%;
    top: 90px;
    z-index: 9999;
    width: 1200px;
    margin-left: -600px;
    height: 660px;
}
.slide_content .title{
    line-height: 1;
    color:#d81d15;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.slide_content >p:nth-child(1){
    margin-top: 130px;
}
.slide_content >p:nth-child(2){
    margin-top: 15px;
}
.slide_content .desc1 {
    font-size: 16px;
    color:#fff;
    display: block;
}
.slide_content >p:nth-child(3) {
    margin-top: 20px;
}
.slide_content >p:nth-child(4) {
    margin-top: 55px;
}
.slide_content >p:nth-child(5) {
    margin-top: 30px;
    color: #fff;
}
.slide_content >p:nth-child(5) >span {
    color: #d81d15;
}
.swiper-slide {
    max-width: 100%;
    max-height: 100%;
    height: 750px;
}
.swiper-button-prev,.swiper-button-next{
    border-radius: 60px;
    width: 38px;
    height: 38px;
    top: 58%;
    background: rgba(0, 0, 0, 0.18);
}
.line {
    border-bottom: 1px solid;
    width: 100%;
    height: 1px;
}

.content_public_class{
    width: 100%;
    background: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;
    text-align: center;
}
.service, .ourCase, .product_classify{
    width: 100%;
    background: #fff;
    max-width: 1200px;
    padding: 50px 0px;
    text-align: center;
}
.ourCase.menu_left .product_classify {
    justify-content: left;
}
.ourCase.menu_left .product_classify .product_type{
    margin-left: 0%;
    margin-right: 4%;
}
.ourCase.menu_left {
    margin: 0 auto;
}
.service >p,.ourCase >p{
    margin:0 auto;
    text-align: center;
    text-transform: uppercase;
    color:#ddd;
    font-size: 14px;
}
.service h2,.ourCase h2{
    margin: 5px auto;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
.service_content {
    margin: 56px 0 47px 0;
    height: 260px;
}
.service_content>div, .case_content>div{
    width: 25%;
    height: 100%;
    display: inline-block;
    margin: 0 0;
}
.service_content>div.active{
    -webkit-box-shadow:0 0 10px #ddd;
    -moz-box-shadow:0 0 10px #ddd;
    box-shadow:0 0 10px #ddd;
}
.sub_service_content{
    cursor: pointer;
    position: relative;
}
.sub_service_content:hover{
    background:#f3f3f3;
    -webkit-transform:scale(1.06);
    -moz-transform:scale(1.06);
    -o-transform:scale(1.06);
    transform:scale(1.06);
}
.sub_service_content .desc:hover{
}
.sub_service_content>div{
    margin-top: 34px;
}
.sub_service_content .title {
    color: #303030;
    font-size: 18px;
    position: absolute;
    width: 100%;
    top: 120px;
}
.sub_service_content .desc {
    color: #999;
    font-size: 14px;
    line-height: 1.2;
    width: 84%;
    left: 6%;
    top: 170px;
    text-align: left;
    position: absolute;
}
.button_box {
    margin: 50px auto 0;
    text-align: center;
}
.service .more_button:hover {
    background: #bd0a0a;
    color:#fff;
}
.more_button {
    display: inline-block;
    width: 130px;
    height: 35px;
    line-height: 36px;
    border-radius: 30px;
    border: 1px solid #bd0a0a;
    color: #bd0a0a;
    text-align: center;
    cursor:pointer;
}
.aboutUs {
    background: #ddd;
    width: 100%;
    text-align: center;
    padding: 60px 0;
}

.aboutUs_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 0px 150px 0px;
}

.home_page .aboutUs_container {
    margin:0 auto;
    padding:0;
}


.aboutUs_container .about_lws{color:#000;font-size: 20px;}

.img_box, .about_box {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.img_box {
    width: 20%;
    right: 0;
    margin-top: 10px;
    float: right;
}
.img_box img{max-width: 400px;}
.map_box{
    height: 402px;
    width: 602px;
    position: absolute;
    left: 0px;
    top: 0;
    margin-top: 0px;
}
.about_box {
    margin-left: 5%;
    width: 48%;
}
.contactus_container .about_box{
    position: absolute;
    right: 10%;
    width: auto;
}
.about_us {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 10px 0;
}
.contact_us {
    padding: 80px 0;
}
.contact_us .title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 58px;
}
.contact_us .desc {
    font-size: 14px;
    line-height: 1.2;
    color: #303030;
}
.contact_us .desc span {
    color:#999999;
}
.contactus_container {
    position: relative;
    text-align: center;
    height: 400px;
}

.desc_1 {
    margin:40px 0;
    color:#d81d15;
    font-size: 14px;
    font-weight: 600;
   
}
.desc_2 {
    font-size: 14px;
    color: #7e7e7e;
    padding: 0;
    margin: 0 0 30px 0;
    line-height: 1.5;
}
.about_lws_desc>p:nth-child(1){
    margin-top: 35px;
}
.we_font {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.aboutUs .more_button {
    background:#bd0a0a;
    color:#fff!important;
    outline: none;
}
.aboutUs .more_button:hover{
    background: #fff;
    color:#bd0a0a!important;
    border:1px solid #bd0a0a;
}

.case_content {
    text-align: left;
    margin: 36px -2.16% 20px;
}
.case_content>div{
    width: 28%;
    text-align: center;
    margin: 15px 2.5%;
    position: relative;
    max-width: 350px;
    max-height: 235px;
    overflow: hidden;
}
.case_content img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    cursor: pointer;
}
.case_content>div:hover{
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
.ourCase {
    margin: 0 auto;
}
.home_page .ourCase {
    padding:60px 0 80px 0;
}
.ourCase .button_box {
    margin: 20px auto 0;
}
.img_title {
    position: absolute;
    bottom: 0px;
    height: 40px;
    line-height: 40px;
    width: 99.96%;
    text-align: left;
    background: rgba(23, 20, 20, 0.65);
    color: white;
    display: none;
    cursor: pointer;
}
.img_title>span {
    display: inline-block;
    padding-left:6px;
}
.case_content>div:hover .img_title{
    display:flex;
}
.case_img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 8px;
    bottom: 5px;
}
.product_content .img_title {
    width: 100%;
    height: 100%;
}
footer {
    background: #f1f1f1;

    font-size: 0.9em;
    color: #717171;
}
.footer_container {
    max-width: 1200px;
    padding: 20px 0px;
    margin: 0 auto;
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:-ms-flexbox;/* WP IE 10 */
}

.box1{
    text-align:center;
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    box-flex:1.0;
}
.box1 img{    width: 100px;
    margin-bottom: 26px;
}
.box1 .box_one_div{    
    display: inline-block;
    float: left;
    margin-left: 10%
}
.box1 span{display:block;font-size:12px;}
.beizhu {
    width:100%;
    background: #ddd;
    border-top: 1px solid rgba(221, 221, 221, 0.45);
}
.beizhu>div{
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    height: 52px;
}
.beizhu>div p{position: absolute;left: 6%;top: 7px;font-size: 12px;}
.beizhu>div img{position: absolute;right: 3%;top: 14px;width: 25px;height: 25px;}

.menu_about {
    background: url('./../images/about_banner_bg.png') no-repeat;

    height: 760px;

    width: 100%;
    background-size: cover;
}
.show_case_bg {
    background: url('./../images/case_banner_bg.png');
    height: 300px;
    width: 100%;
}
.contact_banner_bg {
    background: url('./../images/contact_banner_bg.png');
    height: 300px;
    width: 100%;
    color: #fff;
}
.show_case_bg.bg{
    color:#fff;
}
.bg {
    position: relative;
}
.bg>h2 {
    font-size: 24px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.bg>p {
    font-size: 12px;
    position: absolute;
    top: 59%;
    width: 100%;
    text-align: center;
}
.about_lws {
    text-align: left;
    /* margin:80px 0 0 0; */
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}
.about_lws_desc{
    margin-left: 0;
    width: 78%;
    margin-right: 2%;
}
.about_us_cultural_idea{
    background:#1c1c1c;width:100%;padding:40px 0px;
}
.cultural_idea{
    max-width: 1200px;
    margin: 0px auto;
    height: auto;
}
.idea_box {
    width: 19.6%;
    height: 240px;
    border-radius: 120px;
    background: #fff;
    position: relative;
    display: inline-block;
    color: #303030;
    transform: scale(0.76);
}
.idea_box:hover {
    transform: scale(1.05);
    background: #fff;
    cursor: pointer;
}
.idea_box .title {
    display: block;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.idea_box .desc {
    display: block;
    position: absolute;
    top: 58%;
    text-align: center;
    width: 100%;
    font-size: 16px;
}
.idea_box .detail_desc{
    position: absolute;
    top: 68%;
    left: 10%;
    text-align: center;
    width: 80%;
    display: none;
}
.idea_box:hover .title {
    top: 20%;
    font-size: 16px;
}
.idea_box:hover .desc {
    top: 32%;
    font-size: 12px;
}
.idea_box:hover .detail_desc {
    left: 10%;
    top: 42%;
    width: 80%;
    font-size: 12px;
    line-height: 1.5;
    display: block;
}
/*产品与服务 begin*/
.contain_image_head{
    background: url('./../images/product_banner_bg.png');
    height: 300px;
    width: 100%;
}
.product_classify{    
    padding: 0;
    margin: 0 auto;
    justify-content: flex-start;
}
.news_infomation .product_classify{
}
.product_type{
    border:1px solid rgba(224, 218, 218, 0.62);
    margin-left:4%;
    border-radius:20px;
    padding:5px 40px;
    height: 30px;
    line-height: 30px;
}
.product_type:hover, .product_type.active {
    background: red;
    color:#fff!important;
    cursor: pointer;
}
.product_service{
    margin: 0 auto;
}
.home_page .service {
    margin: 0 auto;
    padding: 80px 0;
}

.home_page .aboutUs {
    padding: 80px 0;
}
.home_page .aboutUs .img_box {
    left: 0;
    float: left;
    margin-top: 0;
    width: auto;
}
.home_page .about_us {
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0;
    color: #c0c0c0;
}
.home_page .who_we {
    margin:12px 0 0 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
}
.product_service >.product_classify{
    justify-content: center!important;
}
.product_service .sub_service_content:hover h5{color:red;}
/*产品与服务 end*/
/*新闻动态  begin*/
.news_banner_bg{
    background: url('./../images/news_banner_bg.png');
    height: 300px;
    width: 100%;
    color: #fff;
}
.news_infomation {
    margin-bottom: 126px;
}
.newsinfor_box {
    max-width: 1200px;
    background: #f7f7f7;
    margin: 0 auto;
    position: relative;
    height: 180px;
    cursor: pointer;
}
.news_infomation .product_type {
    margin-left: 0;
    margin-right: 4%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.newsinfor_box:nth-child(2n+1){
    background: #fff;
}
.img_content {
    position: absolute;
    left: 0;
    top: 20px;
}
.news_content {
    position: absolute;
    left: 280px;
    top: 20px;
    width: 736px;
}
.news_title{
    font-size: 18px;
    color:#303030;
    margin-top: 40px;
}
.news_desc {
    font-size: 13px;
    color: #999;
    line-height: 1.8;
    margin: 20px 0;
    width: 750px;
}
.newList_ul{padding:0px;margin:0px;}
.newList_ul li{list-style-type: none;}
.news_info_contain{width:100%;}
.news_image_div{width:20%;float:left;}
.news_content{width:80%;float:right;}
.news_content .new_detail_info{width:80%;float:left;}
.month_day{
    position: absolute;
    top: 55px;
    right: 40px;
    width: 52px;
    margin-top: 4px;
    font-size: 18px;
    color: #999999;
}
.year{
    position: absolute;
    top: 85px;
    right: 40px;
    width: 52px;
    font-size: 12px;
    color: #999999;
    text-align: left;
}
.next_img{
    position: absolute;
    top:132px;
    right: 50px;
    color: #999999;
    cursor: pointer;
}
/*新闻动态  end*/
/* 新闻详情  begin*/
.pre_next_sign, .news_detail_content_class{width:100%;max-width: 1200px;margin: 10px auto;}
.news_detail_head{
    background: #f7f7f7;
    margin-top: 70px;
    text-align: center;
    padding:20px 0px;
}
.news_detail_footer{
    padding:8px 0px;
    width:100%;
    border-top: 1px solid #f1f1f1;
    font-size:12px;
}
.pre_next_sign img{width:30px;height:30px;}
.pre_next_sign .previous{width:50%;float:left;text-align:left;position: relative;}
.pre_next_sign span{
    position: absolute;
    top: 10px;
}
.pre_next_sign .previous span{
    left: 45px;
}
.pre_next_sign .next{
    text-align: right;
    position: relative;
    float: right;
    width: 50%;
}
.pre_next_sign .next span{
    right: 45px;
    cursor: pointer;
}
.pre_next_sign img, .pre_next_sign span{
    cursor: pointer;
}
.pre_next_sign span{
    display: inline-block;
    padding: 0;
    margin-top: -2px;
}
/* 新闻详情  end*/

.erweimaimg_box {
    margin-top: 42px;
}
.erweimaimg_box img{
    max-width: 140px;
}
.erwima_desc{
    margin: 8px 0px;
    padding: 0;
    font-size: 12px;
    color: #989898;
    text-align: center;
    width: 138px;
}
.news_infor a{
    text-decoration: none;
}
/* 新闻详情  begin*/
.pre_next_sign, .news_detail_content_class{
    width:100%;
    max-width: 1200px;
    margin: 10px auto;
}
.news_detail_head{
    background: #f5f5f5;
    margin-top: 0;
    text-align: center;
    height: 160px;
    padding-top: 90px;
}
.news_detail_head .title {
    color:#303030;
    font-size: 24px;
    font-weight: normal;
    margin-top: 55px;
}
.news_detail_head .desc {
    color: #999;
    font-size: 12px;
    margin: 10px;
    padding: 0;
    font-weight: normal;
}
.news_detail_footer{
    padding:12px 0px;
    width:100%;
    border-top: 1px solid #f1f1f1;
    font-size:14px;
}
.pre_next_sign img{width:30px;height:30px;}
.pre_next_sign .previous{width:50%;float:left;text-align:left;position: relative;}
.pre_next_sign span{
    position: absolute;
    top: 10px;
}
.pre_next_sign .previous span{
    left: 45px;
}
.pre_next_sign .next{text-align: right;position: relative;}
.pre_next_sign .next span{
    right: 45px;
    color:#999999;
    font-size: 14.43px
}
/* 新闻详情  end*/
.case_content>div:hover{
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
.news_page {
    font-size: 1.5em;
    max-width: 1200px;
    margin: 80px auto;
}
.news_page span {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: transparent;
    border-radius: 4px;
    cursor:pointer;
    color:#999999;
}
.news_page span.active {
    color: #fff;
    background: hsla(0, 0%, 60%, 0.9);
}
li{
  list-style:none;
}
a{
  text-decoration:none;
}
.pagination {
    position: relative;
    padding:0;
    margin:0;
}
.pagination li{
    display: inline-block;
    margin:0 5px;
}
.pagination li a{
    padding:.5rem 1rem;
    display:inline-block;
    border:1px solid #ddd;
    background:#fff;
    color:#0E90D2;
}
.pagination li a:hover{
    background:#eee;
}
.pagination li.active a{
    background:#0E90D2;
    color:#fff;
}
.return_case_list {
    width: 1200px;
    margin: 20px auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.return_case_list span {
    border-top: 1px solid #f1f1f1;
    display: inline-block;
    width: 160px;
    background: #ece4e4;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    color: #696363;
}
.home_nav_class .nav_child{position:relative;padding:0;margin:0;}
.home_nav_class{position:fixed;right: 10%;top:50%;/* max-width:100px; */}
.home_nav_class img{dispaly:absolute;top:0;width:45px;}
.home_nav_class img:hover{
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
.home_nav_class .desc{position:absolute;top: 11px;left: 49px;width: 116px;font-size: 12px;color: #80bed6;}
.home_nav_class .bootNav{
    width:3px;height:10px;background:#80bed6;
    margin:0 auto;margin-top:-6px;
}